@font-face {
  font-family: "Circular Medium";
  src: url("../../assets/fonts/circular-medium.otf") format("opentype");
}

@font-face {
  font-family: "Circular Book";
  src: url("../../assets/fonts/circular-book.woff") format("woff");
}

html, body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.page-wrapper, .page-wrapper > div {  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:0 auto;
  height:100%;
  width: 100%;
}


.bg-primary {
  background: '#5F5CFF';
}
.app-name {
  font-family: 'Circular Medium';
}

/*-----UTIL------*/
.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin:0 !important;
}

.margin-left-4 {
  margin-left: 4rem;
}

.full-width {
  width: 100% !important;
}

.fill-parent {
  height: 100%;
}
.no-background {
  background: none;
} 

.padding-5 {
  padding: 5px !important;
}

.rounded{
  border-radius: 50% !important;
}

.align-end {
  text-align: end;
}