@font-face {
  font-family: "Circular Medium";
  src: url("../../assets/fonts/circular-medium.otf") format("opentype");
}

@font-face {
  font-family: "Circular Book";
  src: url("../../assets/fonts/circular-book.woff") format("woff");
}

:root {
  --red-primary: FF3860;
}

html, body, #root{
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.bg-primary {
  background: '#5F5CFF';
}
.app-name {
  font-family: 'Circular Medium';
}

/*-----UTIL------*/
.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin:0 !important;
}

.margin-left-4 {
  margin-left: 4rem;
}

.full-width {
  width: 100% !important;
}

.fill-parent {
  height: 100%;
}
.no-background {
  background: none;
} 

.rounded{
  border-radius: 50% !important;
}