.thumbnail {
  border-radius: 4px;
  height: 100% !important;
  object-position: top;
  object-fit: cover;
}

.title:not(.is-spaced) + .subtitle {
  margin-top: -1.0rem !important;
}

.subtitle {
  color: #616161;
}

.card-content {
  padding: .95rem !important;
 }

 .card-content .media {
   min-height: 80px;
 }

 .ph-tile-footer {
   padding: 1rem;
   border-top: 1px solid #eee !important;
 }

 .makers {
   text-align: start;
   min-height: 90px;
 }
 
 .makers ul{
   display: flex;
   padding: 2px 8px;
 }

 .makers li {
   margin: 5px !important;
 }

 .makers #makerTitle {
  padding: 10px 0px 0px 15px;
  font-size: 0.85rem;
  color: #1fd09a;
}

.no-maker::after{
  content: "NA";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  display: block;
  text-align: center;
  padding: 7px;
  margin: 0px;
}

.chips .ph-avatar{
  padding: 4px !important;
}

#redirectBtn {
  margin: 5px;
  transition: 0.1s background-color;
}

.button.is-red {
  background-color: #da5520;
  border-color: transparent;
  color: #fff;
}

.button.is-red.is-outlined {
  background-color: transparent;
  border-color: #da5520;
  color: #da552f;
}

.button.is-red.is-outlined:hover, .button.is-red.is-outlined:focus {
  background-color: #da5520;
  border-color: #da5520;
  color: #fff;
}

.btn-rounded {
  border-radius: 50px !important;
}